# Ignorando arquivos grandes

# Em 2016-Bolukbasi
/src/vies_jornais/aplicacao_word2vec/2016-Bolukbasi-MenProgrammerWomenHousemaker/saida_distancia_partidos/*

# Em /word_embeddings
/src/vies_jornais/aplicacao_word2vec/word_embeddings/vieses_em_comentarios/embeddings/*
/src/vies_jornais/aplicacao_word2vec/word_embeddings/eleicoes_2014/embeddings/*
/src/vies_jornais/aplicacao_word2vec/word_embeddings/wikipedia_pt/embeddings/*
/src/vies_jornais/aplicacao_word2vec/word_embeddings/comentarios_noticias_eleicoes_2014/embeddings/*
/src/vies_jornais/aplicacao_word2vec/word_embeddings/varias_fontes_portugues/*


