# Ignorando arquivos grandes

# Em 2016-Bolukbasi
/src/vies_jornais/aplicacao_word2vec/2016-Bolukbasi-MenProgrammerWomenHousemaker/saida_distancia_partidos/*

# Em /word_embeddings
/src/vies_jornais/aplicacao_word2vec/word_embeddings/vieses_em_comentarios/embeddings/*
/src/vies_jornais/aplicacao_word2vec/word_embeddings/eleicoes_2014/embeddings/*

# Ignorar .Rdata
/src/vies_jornais/aplicacao_word2vec/vieses_em_comentarios/workspace_vies_comentarios.RData
